body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    width: 98vw;
    /* overflow-x: hidden; */
}

.main-body {
    min-height: 100vh;
    width: 68vw;
    margin-left: 16vw;
    display: flex;
    flex-direction: column;

}

.main-banner {
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/expobages/assets/img/logo.png");
    overflow: hidden;
}

.main-banner img {
    width: 15%;
    cursor: pointer;

}

.pclnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 8vh !important;
    width: 100%;
}

nav {
    height: 8vh !important;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    background-color: #b74c97;
}

.menu-link {
    line-height: 8vh !important;
    margin: 0px !important;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 8vh !important;
    font-size: 1.1vw;
}

.xarxes {
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-between;
    
}

.fimage {
    min-height: 35vh;
    background-image: url("/expobages/assets/img/skyline.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 31%;
    justify-content: flex-start;
}

.newsletter label {
    color: #2d5164;
    font-weight: 500 !important;

    
}
.checkbox-container label{
    letter-spacing: 0.75px;
    min-width: 17vw;
    text-align: center;
}
.newsletter p{
    color: #2d5164;
    font-weight:bold;
    font-weight: 500 !important;

}
#email {
    border: 2px #2d5164 solid;
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    width: 20vw;
}

#email::placeholder {
    color: #2d5164;
    justify-content: center;
}

#email:focus {
    box-shadow: 0px 0px 0px 0px !important;
    outline: none !important;
}

.condicions {
    display: block;
    accent-color: #2d5164;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: relative !important;
    opacity: 1 !important;
    pointer-events: all !important;

}
.checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15.5vw;
    justify-content: space-between;
}
.newsletterbtn{
    margin-top: 20px;
    background-color: #b74c97 !important;
    border-radius: 25px !important;
    font-weight: 300 !important;
    letter-spacing: 1.5px !important;
    align-self: flex-end;
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.socials{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.icons a{
    padding-right: 15px;
    font-size: 1vw !important;
    color: #2d5164;
}
.texts{
    padding-right: 50px;
}
h6{
    color: #2d5164;
    font-weight: 500 !important;
}
.logos{
    height: 1.2vw;
}
.hide-on-med-and-down{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100% !important;
}

a[id="Com arribar"]{
    display: none;
}


.collapsible{
    display: none;
    position: absolute;
    min-width: 13vw;
    background-color: white !important;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin: 0 !important;
}
.collapsible a{
    color: #b74c97 !important;  
}
.detall-titol{
    display: none;
}
.contingut-detall{
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;

}
.detall-item div{
    margin: 3.5px;
    display: flex;
}
.btn a{
    color: white;
}
.endpage-btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.endpage-btn{
    flex: 1;
    color: black !important;    
    font-size: 1.2vw !important;
    font-weight: 600;
    border: 1px solid #25baa7 !important;   
    min-width: fit-content !important;
    max-width: 40% !important;
    margin: 1%;
    border-radius: 12px !important;
    background: rgba(37, 186, 167, 0.2) !important;
}
.nomargin{
    margin: 0 !important;
    margin-top: 16px !important;
    font-weight: 500;
}
p:empty{
    display: none !important;
}
a{
    color: black !important;
}