.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60vh !important;
}

.carousel {
    height: 60vh !important;
}

.carousel-item img {
    height: 60vh !important;
}

.arrow {
    top: 22vh;
    width: 8vw;
    height: 8vw;
    position: absolute;
    cursor: pointer;
}

.arrow span {
    color: rgb(255, 255, 255);
    /* mix-blend-mode: difference; */
    font-weight: 500;
    font-size: 8vw;
}

.carousel-arrow-left {
    padding-left: 22px;
    left: 0px;

}

.carousel-arrow-right {
    left: 68vw;
}
.buttons{
    padding-bottom: 45px;
}

@media only screen and (max-width: 720px) {
    .slider {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 40vh !important;
    }
    
    .carousel {
        height: 40vh !important;
    }
    
    .carousel-item img {
        height: 40vh !important;

    }
    .carousel-arrow-right {
    left: 86vw;
    }
}